@font-face {
	font-family: 'Calibri';
	src: url("../fonts/CALIBRI.woff") format("woff"),
		url("../fonts/CALIBRI.woff2") format("woff2"),
		url("../fonts/CALIBRI.ttf") format("truetype"),
		url("../fonts/CALIBRI.otf") format("OpenType");
	font-weight: 400;
	font-style: normal;
}

:root {
	font-family: "Calibri";
}

.wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;

	&::-webkit-scrollbar {
		width: 10px;
		height: 13px;
	}

	&::-webkit-scrollbar-thumb {
		background: #002e60;
		border-radius: 3px;

		&:hover {
			background: #004693;
		}
	}

	&::-webkit-scrollbar-track {
		background: #fff;
		border-radius: 3px;
		box-shadow: inset 7px 10px 12px 0 #f0f0f0;
	}
}

.header {
	flex: 0 0 auto;
	position: sticky;
	top: 0px;
	background: #fff;
	z-index: 1;

	&__body {
		border-bottom: 2px solid #f4f4f4;
		padding: 25px 35px;

	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		cursor: default;
		display: flex;

		p {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 24px;
			color: #acacac;
		}
	}

	&__user {
		position: relative;

		&::before {
			content: '';
			width: 21px;
			height: 21px;
			top: 0;
			left: 0;
			position: absolute;
			border-radius: 50%;
			background: url("img/users/user.png") 100%/COVER no-repeat;
		}

		p {
			display: flex;
			align-items: center;
			padding: 0 0 0 30px;
			font-size: 18px;
			color: #002e60;

			svg {
				cursor: pointer;
				margin: 0 0 0 10px;
				width: 20px;
				fill: #002e60;
			}
		}
	}

	&__burger {
		display: none;
		background: #e6e6e6;
		border-radius: 3px;
		position: relative;
		width: 60px;
		height: 44px;

		&::before,
		&::after {
			content: '';
			background: #a0a0a0;
			position: absolute;
			width: 30px;
			height: 2px;
			left: 50%;
			transform: translateX(-50%);
			transition: all 0.3s ease 0s;
		}

		&::before {
			top: 15px;
		}

		&:after {
			bottom: 13px;
		}

		span {
			position: absolute;
			background: #a0a0a0;
			width: 30px;
			height: 2px;
			left: 50%;
			top: 50%;
			transform: translate(-50%) rotate(0deg);
			transition: all 0.3s ease 0s;
		}

		&.active {
			&:before {
				transform: translate(-50%) rotate(45deg);
				top: 50%;
			}

			&::after {
				transform: translate(-50%) rotate(-45deg);
				top: 50%;
			}

			& span {
				transform: scale(0);
			}
		}
	}

	&__menu {
		position: fixed;
		z-index: 999;
		top: 76px;
		right: -100%;
		display: none;
		background: #023976;
		bottom: 0;
		max-width: 320px;
		width: 100%;
		transition: all 0.3s ease 0s;

		&.active {
			right: 0;
		}
	}

	&__user-mobile {

		margin: 20px 0 20px 0;
		display: flex;
		justify-content: center;
		position: relative;

		&::before {
			content: '';
			width: 21px;
			height: 21px;
			top: 0;
			left: 20px;
			position: relative;
			border-radius: 50%;
			background: url("img/users/user.png") 100%/COVER no-repeat;
		}

		p {
			display: flex;
			align-items: center;
			padding: 0 0 0 30px;
			font-size: 18px;
			color: #fff;

			svg {
				margin: 0 0 0 10px;
				width: 20px;
				fill: #fff;
				cursor: pointer;
			}
		}
	}

	&__link {
		display: flex;
		white-space: nowrap;
		font-size: 24px;

		a {
			display: flex;
			flex: 1 0 auto;
			align-items: center;
			padding: 10px;
			color: #fff;

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				margin: 0 20px 0 0;

				svg {
					fill: #fff;
				}
			}
		}

		&.active a {
			background: #002e60;

			span {
				background: #fff;
				border-radius: 30px;

				svg {
					fill: #002e60;
				}
			}
		}
	}

	@media screen and (max-width: 992px) {
		&__body {
			padding: 15px;
		}

		&__logo {
			p {
				font-size: 18px;
			}
		}

		&__user {
			display: none;
		}

		&__burger {
			display: block;
		}

		&__menu {
			display: block;
		}
	}

	@media screen and (max-width: 425px) {
		&__logo {
			p {
				display: none;
			}
		}
	}
}

.menu {
	display: flex;
	flex: 1 1 auto;

	&__body {
		flex: 1 1 auto;
	}

	&__row {
		display: flex;
		min-height: 100%;
	}

	&__columns {
		padding: 40px 0 0 0;
		background: #023976;
		display: flex;
		flex-direction: column;

		&:hover .item {
			max-width: 250px;
		}

		&__columns {
			padding: 40px 0 0 0;
			background: #023976;
			;
			display: flex;
			flex-direction: column;

			&:hover {
				.item {
					max-width: 250px;
				}
			}
		}
	}

	@media screen and (max-width: 992px) {
		&__columns {
			display: none;
		}
	}
}

.item {
	overflow: hidden;
	position: sticky;
	top: 127px;
	max-width: 80px;
	transition-property: max-width;
	transition-duration: 0.5s;

	&__row {
		display: flex;
		white-space: nowrap;
		font-size: 24px;

		a {
			display: flex;
			flex: 1 0 auto;
			align-items: center;
			padding: 15px;
			color: #fff;

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				margin: 0 20px 0 0;

				svg {
					fill: #fff;
				}
			}
		}

		&.active a {
			background: #002e60;

			span {
				background: #fff;
				border-radius: 30px;

				svg {
					fill: #002e60;
				}
			}
		}
	}

	&__row:hover a {
		background: #02366d;
	}
}

.content {
	flex: 1 1 auto;
	padding: 41px 25px;

	&__row {
		display: flex;
		flex-direction: column;
	}

	@media screen and (max-width: 992px) {
		padding: 20px 15px;
	}
}